html {
    margin:0;
    padding:0;
}

body {
    background-color: beige;
}

.container {
    width: 50vw;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-grid {
    display: grid;
    grid-template-columns: 12px, 12px, 12px, 12px;
    grid-template-rows: 12px, 12px, 12px, 12px;
    grid-auto-flow: row;

}

.btn.calc {
    font-size: 2rem;
}